

<%- include('../layout/UserHeader.ejs') %>
<style>
    /* Increase the size of the increment and decrement buttons */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        height: 50px;
        /* Adjust the height as needed */
        width: 60px;
        /* Adjust the width as needed */
    }

    /* For Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }



.image-container {
  /* width: 500px; */
  height: 470px;
    overflow: hidden;
    /* border: 1px solid #ccc; Optional: Add a border for visualization */
}

.zoom-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-zoom {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.image-zoom:hover {
    transform: scale(1.8); /* Adjust the scale factor for zoom effect */
}
.thumbnail {
    /* width: 50px; */
    /* height: 50px; */
    margin-right: 10px;
    border: 1px solid black;  
    border-radius: 10%;
  }
  .custom-col {
    flex: 0 0 5.5%; /* Adjust the width percentage as needed */
    max-width: 5.5%;
  }

</style>


    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Fashion
                    <span></span> Abstract Print Patchwork Dress
                </div>
                <div id="cartNotification" style="display: none; position: fixed; top: 20px; right: 20px; background-color: #333; color: #fff; padding: 10px; border-radius: 5px;">
                    Item added to cart!
                  </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-11">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50">
                                <div class="col-1 custom-col d-flex  flex-column justify-content-center">
                                    <% for (let i = 0; i < product.image.length; i++) {%>        
                          
                                    <img src='/assets/imgs/productIMG/<%= product.image[i]%>' onclick="changeMainImage('<%= product.image[i] %>')" alt="Thumbnail" class="my-3 thumbnail">
                                    <% } %>        
                          
                                  </div>
                                <div class="col-md-5 col-sm-12 col-xs-12">
                                    <div class="mt-5">
                           
                                   
                                      
                                        <!-- THUMBNAILS -->
                                   
                                    </div>
                                    <div class=" image-container">
                                        <div class="zoom-container">
                                            <img src='/assets/imgs/productIMG/<%= product.image[0]%>' id="mainImage" alt="Image" class="image-zoom">
                                        </div>
                                      </div>



                                    <div class="social-icons single-share">
                                        <ul class="text-grey-5 d-inline-block">
                                            <li><strong class="mr-10">Share this:</strong></li>
                                            <li class="social-facebook"><a href="#"><img
                                                        src="/userassets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                            </li>
                                            <li class="social-twitter"> <a href="#"><img
                                                        src="/userassets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                            </li>
                                            <li class="social-instagram"><a href="#"><img
                                                        src="/userassets/imgs/theme/icons/icon-instagram.svg"
                                                        alt=""></a></li>
                                            <li class="social-linkedin"><a href="#"><img
                                                        src="/userassets/imgs/theme/icons/icon-pinterest.svg"
                                                        alt=""></a></li>
                                        </ul>
                                    </div>  
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail">
                                            <%= product.name %>
                                        </h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <span> Brands: <a href="#"> 
                                                    
                                                    <% const brandId=product.brand %>

                                                    <% brands.forEach(brand=> { %>
                                                      <% if (brandId.toString()===brand._id.toString()) { %>
                                                        <span>
                                                          <%= brand.name %>
                                                        </span>
                                                        <% } %>
                                                          <% }); %>
                                                 
                                                
                                                </a></span>
                                            </div>
                                            <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width:90%">
                                                    </div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            
                                            <div class="product-price primary-color float-left">
                                                <% if (product.discountPrice && product.discountPrice !=product.price) { %>
                                                  

                                                    <ins><span class="text-brand">₹<%= product.discountPrice %>
                                                    </span></ins>
                                                <ins><span class="old-price font-md ml-15">₹<%= product.price %>
                                                            </span></ins>
                                                <span class="save-price  font-md color3 ml-15">25% Off</span>
                                
                                                    <% } else { %>
                                                        <ins><span class="text-brand">₹<%= product.price %>
                                          
                                                    <% } %>
                                            
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="short-desc mb-30">
                                            <p>  <%= product.description %></p>
                                        </div>
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year AL Jazeera
                                                    Brand Warranty</li>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return
                                                    Policy</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="attr-detail attr-size">
                                            <strong class="mr-10">Size</strong>
                                            <ul class="list-filter size-filter font-small">

                                                <% product.sizes.forEach(sizeData=> { %>

                                                    <li  onclick="setSize('<%= sizeData.size %>')"><a href="#">
                                                            <%= sizeData.size %>
                                                        </a></li>

                                                    <% }); %>

                                            </ul>
                                        </div>

                                     


                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                     
                                            <input type="hidden" value="<%= product._id %>"   name="productData_id" id="productData_id">
                                            <div class="detail-extralink">
                                                <input type="number" name="qty" id="qty" class="w-25 py-4" value="1" min="1" max="10">
                                                <div class="product-extra-link2 w-50 ">
    
                                                    <button type="submit"onclick="addToCart()" class=" btn-product btn-cart"><span>Add To Cart</span></button>
    
    
                                                    <button aria-label="Add To Wishlist" class=" btn action-btn hover-up "
                                                        ><i class="fi-rs-heart  "></i></button>
                                                </div>
                                            </div>
                                   
                                     
                                        <ul class="product-meta font-xs color-grey mt-50">
                                            <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                            <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#"
                                                    rel="tag">Women</a>, <a href="#" rel="tag">Dress</a> </li>
                                            <li>Availability:<span class="in-stock text-success ml-5">8 Items In
                                                    Stock</span></li>
                                        </ul>
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>

                        </div>
                    </div>
                  
                </div>
            </div>
        </section>
    </main>
    <script>
function changeMainImage(imageUrl) {
    const mainImage = document.getElementById('mainImage');
    mainImage.src = `/assets/imgs/productIMG/${imageUrl}`;
    }
    document.querySelector('.image-zoom').addEventListener('mousemove', function(e) {
      const { left, top, width, height } = this.getBoundingClientRect();
      const x = (e.clientX - left) / width * 100;
      const y = (e.clientY - top) / height * 100;

      this.style.transformOrigin = `${x}% ${y}%`;
    });
let sizeData;
    function setSize(size) {
        sizeData= size;
}

    function addToCart() {

    const qtyData = document.getElementById('qty').value;
    const productDataId =  document.getElementById('productData_id').value;
   


    if (qtyData && productDataId ) {
      const requestData = {
        qty: qtyData,
        size: sizeData,
        productData_id: productDataId
      };


      fetch('/cart', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(requestData),
      })
      .then(response => response.json())
      .then(data => {
   
        if (data.success) {
          const notification = document.getElementById('cartNotification');
      notification.style.display = 'block';

      // Hide the notification after 2 seconds
      setTimeout(() => {
        notification.style.display = 'none';
        window.location.href = `/singleProduct/${productDataId}`;
      }, 1000);
          
        } else {
          alert('Error occurred while placing order');
        }
      })
      .catch(error => {
        console.error('Error:', error);
        alert('Error occurred while placing order');
      });
    }
  }
    </script>
  
    <%- include('../Layout/UserFooter.ejs') %>